code sạch, chuẩn, phù hợp với phong cách code của tôi; không sử dụng trực tiếp repository của cái khác mà viết service và sử dụng qua service; tái sử dụng be common và sử dụng các hàm có sẵn nếu có hoặc cần thiết (các service, repo, dto, entity, service impl đều phải implements base ...); tránh sử dụng stringutil hay code java cho việc query db mã hãy sử dụng @Query + native query trong repository sau đó sử dụng hàm được viết trong repo này; các type thì hãy viết class enums rồi sử dụng nó